body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
h1, p{
    margin: 0 0 20px 0;
}

.menu {
}

.main__menu {
}

.main__menu__container {
    height: 115px;
    display: grid;
    grid-template-columns: 10.5% 1fr 10.5%;

}
.main__menu__header {
    display: flex;
    grid-column: 2;
    justify-content: space-between;
    align-items: center;
}

.logo__and__search {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 50px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__search {
    position: relative;
    width: 500px;
}

.logo__search__icon {
    position: absolute;
    display: block;
    bottom: .35rem;
    right: .5rem;
    user-select: none;
    cursor: none;
    color: #A2A2A2;
}

.search {
    border: none;
    font-family: 'Raleway';
    width: 480px;
    font-weight: 400;
    margin-left: 30px;
    padding: .5rem;
}

.search::placeholder {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
}

.main__menu__header__btn-login {
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    width: 182px;
    height: 51px;
    cursor: pointer;
}


.banner__container {
    display: flex;
    background: url(./assets/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 1;
    height: 352px;
}

.banner__text__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 2% 2%;
}

.banner__tittle {
    font-weight: 700;
    font-size: 44px;
    color: white;
}

.banner__text {
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.banner__btn-consolas {
    background-color: #2A7AE4;
    width: 129px;
    height: 51px;
    border: none;
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

/* Galería de productos */

.container-products {
    display: grid;
    grid-template-columns: 10.5% 1fr 10.5%;
    grid-template-rows: 1fr 1fr 1fr;
}

.container-products__all__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-products__line:first-child {
    grid-area: 1 / 2;

}

.container-products__line:nth-child(0n+2) {
    grid-area: 2 / 2;
}

.container-products__line:last-child {
    grid-area: 3 / 2;
}

.container-products__line {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.container-products__line__header > h3{
    color: #464646;
    font-size: 32px;
    font-weight: 700;
}

.container-products__line__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-products__line__header__ver-todo > a {
    color: #2A7AE4;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
}

.container-products__line__header__ver-todo {
    display: flex;
    align-items: center;
}

.container-products__line__products__product__text {
    font-weight: 500;
    font-size: 14px;
    color: #464646;
    margin: 5px 0;
}

.container-products__line__products__product__price {
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin: 5px 0;
}

.container-products__line__products__product__ver-producto {
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
    margin: 5px 0;
    text-decoration: none;
}

/* Rodapie */

.footer {
    display: flex;
    flex-direction: column;
}

.footer__info {
    display: grid;
    grid-template-columns: 10.5% 1fr 10.5%;
    background-color: #EAF2FD;
    margin-top: 60px;
}

.footer__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo__footer {
    display: flex;
    height: 31px;
    width: 190px;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.footer__info__contenido {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 64px 0;
}

.footer__info__contenido__list {
    margin: 0 40px;
    width: 200px;
    list-style: none;
}

.footer__info__contenido__list-ind {
    
    color: #464646;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 26px;
}

.footer__infor__contenido__form__tittle {
    margin-top: 0;
}

.footer__infor__contenido__form__formulario {
    display: flex;
    flex-direction: column;
    width: 560px;
}

.footer__infor__contenido__form__formulario__input {
    height: 56px;
    margin-bottom: 20px;
    border: none;
    font-family: 'Raleway';
    font-size: 18px;
    padding: 10px;
}

.footer__infor__contenido__form__formulario__textarea {
    margin-bottom: 20px;
    border: none;
    font-family: 'Raleway';
    font-size: 18px;
    resize: none;
    padding: 10px;
}

.footer__infor__contenido__form__formulario__btn-Enviar {
    width: 144px;
    height: 51px;
    background-color: #2A7AE4;
    color: white;
    border: none;
}

.footer__info__rodapie {
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__info__rodapie > p {
    margin-bottom: 0;
}

/* Pestaña Login */

.container__login, .container__nuevo-producto {
    display: flex;
    margin: 60px 0;
    justify-content: center;
}

.container__iniciar-sesion, .container__nuevo-producto__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 423px;*/
}

.container__iniciar-sesion__input {
    width: 423px;
    height: 63px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px;
    box-sizing: border-box;
}
    
.container__iniciar-sesion__input::placeholder {
    font-family: 'Raleway';
    color: #A2A2A2;
    font-size: 16px;
}

.container__iniciar-sesion__button {
    width: 423px;
    height: 63px;
    color: white;
    font-family: 'Raleway';
    border: none;
    background-color: #2A7AE4;
    font-weight: 600;
    font-size: 18px;
}

/* Pestaña administrador*/

.container-products__line__header__ver-todo__button {
    width: 163px;
    height: 51px;
    background-color: #2A7AE4;
    color: white;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 0;
    margin: 10px 0;
}

.container-products__line__header__admin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container-products__line__header__ver-todo__admin {
    margin: 0;
}

.container-products__line__header__admin > h3 {
    font-size: 28px;
    margin: 10px 0;
    align-self: center;
}

/* Pestaña Agregar Producto */

.container__nuevo-producto__form__input {
    width: 559px;
    height: 56px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px;
    box-sizing: border-box;
}

.container__nuevo-producto__form__textarea {
    width: 559px;
    height: 80px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}

.container__nuevo-producto__form__input::placeholder, .container__nuevo-producto__form__textarea::placeholder {
    font-family: 'Raleway';
    color: #A2A2A2;
    font-size: 16px;
}

.footer__logo-lista {
    display: flex;
    flex-wrap: wrap;
}

/*  Validadores de inputs */

.input__invalid .footer__infor__contenido__form__formulario__input{
    border: 1px solid red;
    margin-bottom: 10px;
}

.input__invalid .input__message-error {
    display: block;
    border: none;
    color: red;
}

.input__message-error {
    display: none;
}

.input__invalid .footer__infor__contenido__form__formulario__input::placeholder{
    color: red;
}

@media (max-width: 768px) {

    .logo__search {
        width: 250px;
    }

    .search {
        width: 200px;
    }

    .container__nuevo-producto__form {
        width: 606px;
    }

    .footer__logo-lista {
        flex-direction: column;
    }

    .footer__info__contenido {
        justify-content: center;
    }

    .footer__info__contenido__list {
        margin: 20px 0;
    }
}

@media (max-width: 360px) {

    .logo-texto {
        width: 80px;
    }

    .logo > img{
        width: 40px;
    }

    .logo-texto > img{
        width: 50px;
    }

    .logo__and__search {
        width: 150px;
    }

    .logo__search, .search {
        width: 50px;
        margin: 0;
    }

    .logo__search__icon {
        right: 1rem;
    }

    .search::placeholder {
        color: transparent;
    }

    .main__menu__header__btn-login {
        width: 130px;
    }

    .main__menu__container, .container-products, .footer__info {
        grid-template-columns: 4.5% 1fr 4.5%;
    }

    .footer__infor__contenido__form__formulario, .container__iniciar-sesion__input, .container__iniciar-sesion__button, .container__nuevo-producto__form__input, .container__nuevo-producto__form__textarea {
        width: 300px;
    }

    .banner__text__container {
        margin: 0 0 4.5% 4.5%;
    }

    .banner__tittle {
        font-size: 32px;
    }

    .banner__text {
        font-size: 18px;
    }

    .container-products__line__products__product > img {
        width: 140px;
    }

    .container-products__line__products__product {
        margin-bottom: 20px;
    }

    .logo__footer {
        margin-right: 0;
    }
}